<div class="cover">
  <h1 class="text-center" id="cocktail-title">Cocktails</h1>
</div>

<div class="container">
  <% @cocktails.each do |cocktail| %>
    <div class="cards">
      <%= link_to cocktail_path(cocktail) do %>
      <h3 class="text-center"><%= cocktail.name %></h3>
      <% end %>
    </div>
  <% end %>
</div>

