<div class="home-banner">
    <h1 class="text-center" id="cocktail-title">Cocktails</h1>
    <h2 class="text-center moving-text">
      <span id="banner-typed-text"></span>
    </h2>
</div>
<h1 class="text-center cocktail-header">Refreshing Cocktails</h1>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <%= link_to cocktail_path(cocktail) do %>
      <div class="card"
        style="background-image: url('<%= cocktail_photo_or_default cocktail %>')">
        <div class="card-linear-gradient">
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
