.card {
  height: 175px;
  text-shadow: 0 1px 5px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-color: #EFEFEF;
  border-radius: 5px;
  color: #FF7100;
  position: relative;
  margin-bottom: 20px;
  text-decoration: none;
  &:hover {
    color: #FFA45C;
  }
}

a:hover {
  text-decoration:none;
}

.card-linear-gradient {
  background-image: linear-gradient(rgba(51, 115, 136, 0.3), rgba(127, 195, 217, 0.2));
  height: 175px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 5px;
  &:hover {
    background-image: linear-gradient(rgba(127, 195, 217, 0.2), rgba(0,0,0,0.0));
  }
}
